.contacts-items{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.contact-left{
    display: flex;
    flex-direction: column;
}

.contact-left input{
    margin-bottom: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 16px;
    color: #BDBDBD;
    width: 570px;
}

.contact-right textarea{
    font-family: 'Open Sans', sans-serif;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 570px;
    border-bottom: 1px solid #BDBDBD;
}

.contacts-button{
    text-decoration: none;
    color: #fff;
    background-color: #EC7979;
    width: 370px;
    height: 58px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    border: none;
}