.contacts-items{
    display: flex;
    margin-top: 50px;
}

.contact-left{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.contact-right{
    width: 100%;
}

.contact-left input{
    margin-bottom: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 16px;
    color: #BDBDBD;
}

.contact-right textarea{
    font-family: 'Open Sans', sans-serif;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #BDBDBD;
}

@media (max-width:736px){
    .contacts-items{
        flex-direction: column;
    }

    .footer-up img{
        width: 26px;
        height: 26px;
    }

    .contact-right{
        width: 280px;
    }

    .contact-right textarea{
        width: 280px;
    }

    .block-item{
        width: 280px;
    }
}
