footer{
    background-color: #000;
    height: 170px;
    margin-top: 50px;
}

.footer-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
}


.footer-up{
    display: flex;
    color: #CCCCCC;
    margin-bottom: 30px;
}

.footer-under span{
    color: #fff;
    opacity: 0.5;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
}

@media (max-width:736px){
    .footer-up img{
        width: 26px;
        height: 26px;
    }
}