.section-price{
    padding-top: 50px;
    background-color: #F5F5F5;
}
.blocks-price{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 80px;
}

.block-item{
    width: 370px;
    margin-bottom: 50px;
}

.block-item_header, .block-price, .block-undertext{
    background-color: #333;
    color: #fff;
}

.block-item_header, .block-price{
    font-weight: 700;
}

.block-item_header{
    font-size: 24px;
}

.block-item_header, .block-undertext{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-price{
    border-bottom: #fff 2px solid;
    border-top: #fff 2px solid;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.block-undertext{
    color: #FFFFFF80;
}

.block-small-text{
    background-color: #fff;
    color: #86878B;
    border-bottom: 1px solid #F5F5F5;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-second{
    position: relative;
    bottom: 20px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.20));
}

@media (max-width:736px) {
    .blocks-price{
        display: flex;
        flex-direction: column;
    }
}