.tabs{
    font-family: 'Raleway', sans-serif;
    display: flex;
}

.row-buttons{
    display: flex;
    width: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
}

.button:not(:first-child){
    border-bottom: 1px solid #C6CBCD;
}

.button:last-child{
    border-bottom: 1px solid #C6CBCD;
}

.first-button{
    width: 200px;
    border-radius: 5px;
    border-top: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
}

.last-button{
    width: 100px;
    border-bottom: 1px solid #C6CBCD;
}

.left-side{
    display: flex;
    border-left: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-bottom: 1px solid #C6CBCD;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
}

.tab{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab h1{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.tab p{
    font-family: Raleway;
    text-align: left;
}

.tab a{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: #EC7979;
    width: 270px;
    height: 58px;
}

@media (max-width:843px) {
    .img-statue{
        display: none;
    }
    .row-buttons{
        margin-left: 20px;
        width: auto;
    }

    .last-button{
        display: none;
    }

    .first-button, .button{
        width: 93px;
    }
}